FlexboxLayout {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("https://go-wine.com/admin/img/Farmtotable.jpg");
}
StackLayout {
  width: 300;
  padding: 15 15;
  background-color: #f0f0f0;
}